<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <title>Document</title>
             <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body ng-app="app">
  <div ng-controller="myCtrl" id="div1">

  a = <input ng-model="a" type="text" />
  a = {{a}}
  <hr>

  b = <input ng-model="b" type="text" />
    b = {{b}}
    <hr>

    <button ng-click="calcSum()">Calc Sum</button> <!-- to call the $apply on a button click. this works within the angular context-->
    <button onclick="btnClick()">sum</button>
     s = {{s}}
        <hr>
</div>
<script src="Apply.js"></script>
</body>
</html>