<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
             <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                         <meta http-equiv="X-UA-Compatible" content="ie=edge">
             <title>Document</title>
             <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
                                       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body ng-app="app">
<div ng-controller="emp">
<div ng-repeat="o in emps">
<div>{{o.empno}} {{o.ename}}</div>
</div>
<button ng-click="addEmp()">add</button>
<button ng-click="modify3rdEmp()">modify 3rd Employee</button>
</div>
<script src="WatchCollection.js"></script>
</body>
</html>